@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nuosu SIL', serif;
}

body {
    background-image: url(../imagens/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#cabecalho {
    background-color: #000;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px #000;
    z-index: 2;
}

#cabecalho div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho i {
    margin-right: 10px;
}

#nav {
    max-width: 1200px;
    margin: 0 auto;
}

#cabecalho #bnet {
    width: 50px;
    padding: 5px;
}

#cabecalho nav li {
    display: inline-block;
}

#cabecalho nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: #067aee;
    padding: 20px 30px;
    transition: all 0.3s linear;
    border: 1px solid transparent;
}

#cabecalho nav li a:hover {
    color:#fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}

h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h3 {
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 10px;
    font-size: 20px;
}

#conteudo {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, .868);
    box-shadow: 0 0 10px #000;
}

#conteudo img {
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#conteudo p {
    margin-bottom: 15px;
    text-align: justify;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 17px;
}

#button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #001c3b;
    color: #DDD;
    text-shadow: black 0.1em 0.1em 0.2em;
    box-shadow: 0 0 10px #000;
    border: 5px double #002650;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#download {
    text-decoration: none;
}

#button:hover {
    text-decoration: underline;
}

#zones {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

#zones p {
    display: block;
    font-size: 15px;
    text-align: center;
}

#zones img {
    height: 250px;
    max-width: 100%;
}

.trailers {
    max-width: 500px;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

figcaption {
    color: #ddd;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 0;
    font-size: 15px;
}

#rodape {
    background-color: #000;
    padding: 10px;
}

#rodape p {
    color: #ddd;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

#rodape a {
    text-decoration: none;
    color: #1E90FF;
}

#rodape a:hover {
    color: #1E90FF;
}

#redes li {
    display: inline-block;
}

#redes {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1E90FF;
    box-shadow: 0 0 10px #000;
}

#follow li:first-child {
    color: #001c3b;
}

#follow li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#follow li a:hover {
    color:#fff;
}

#follow i {
    color: #001c3b;
}

#infos li {
    display: inline-block;
}

#infos {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#infos a {
    color: #DDD;
    font-size: 14px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#brand {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
}


#privacity li {
    display: inline-block;
}

#privacity {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#privacity a {
    color: #DDD;
    font-size: 13px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#banners {
    margin-top: 20px;
}